In [1]:
!pip install mariadb

Collecting mariadb
  Downloading mariadb-1.1.5.post3-cp310-cp310-win_amd64.whl (191 kB)
     -------------------------------------- 191.0/191.0 kB 5.8 MB/s eta 0:00:00
Requirement already satisfied: packaging in c:\users\usuario\desktop\itsense\vertikal-x-ds\vertikal\lib\site-packages (from mariadb) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\usuario\desktop\itsense\vertikal-x-ds\vertikal\lib\site-packages (from packaging->mariadb) (3.0.9)
Installing collected packages: mariadb
Successfully installed mariadb-1.1.5.post3

## Connection to local MariaDB database

In [2]:
# Module Imports
import mariadb
import sys

# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="root",
        password="itsense",
        host="localhost",
        port=3306,
        database="vertikal"

    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

In [5]:
cur.execute("CREATE TABLE categories (name VARCHAR(30), count INTEGER);")

In [4]:
print(cur)

<mariadb.cursor at 000001E301411000>

## Connection to remote (AWS RDS) MariaDB database

In [1]:
# Module Imports
import mariadb
import sys

# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="admin_vtx",
        password="Prueba12#",
        host="develop-free-vtx.csgmphwpjwca.us-east-1.rds.amazonaws.com",
        port=3306,
        database="catalogs"

    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

In [2]:
cur.execute("show tables;")
for res in cur:
    print(res)

('countries',)
('instagram_stats',)
('roles',)
('spis',)
('twitter_stats',)
('users',)

### Creating the tables

In [3]:
str_create_users_table = """create table users(
    id INT NOT NULL AUTO_INCREMENT,
    name VARCHAR(100),
    instagram_username VARCHAR(100),
    twitter_username VARCHAR(100),
    last_update DATETIME,
    PRIMARY KEY(id));
"""
cur.execute(str_create_users_table)

In [5]:
str_create_ig_table = """create table instagram_stats(
    record_id INT NOT NULL AUTO_INCREMENT,
    user_id INT,
    instagram_username VARCHAR(100),
    n_followers INT,
    n_posts_total INT,
    n_likes_retrieved INT,
    n_comments_retrieved INT,
    sentiment FLOAT,
    engagement FLOAT,
    spi FLOAT,
    created_at DATETIME,
    PRIMARY KEY(record_id));
"""
cur.execute(str_create_ig_table)

In [6]:
str_create_tw_table = """create table twitter_stats(
    record_id INT NOT NULL AUTO_INCREMENT,
    user_id INT,
    twitter_username VARCHAR(100),
    n_followers INT,
    n_retweets INT,
    n_tweets INT,
    n_retweets_to_user INT,
    n_favorites_to_user INT,
    n_replies_to_user INT,
    sentiment FLOAT,
    engagement FLOAT,
    spi FLOAT,
    created_at DATETIME,
    PRIMARY KEY(record_id));
"""
cur.execute(str_create_tw_table)

In [7]:
str_create_spis_table = """create table spis(
    record_id INT NOT NULL AUTO_INCREMENT,
    user_id INT,
    spi FLOAT,
    spi_instagram FLOAT,
    spi_twitter FLOAT,
    created_at DATETIME,
    PRIMARY KEY(record_id));
"""
cur.execute(str_create_spis_table)

In [8]:
cur.execute("show tables;")
for res in cur:
    print(res)

('countries',)
('instagram_stats',)
('roles',)
('spis',)
('twitter_stats',)
('users',)

In [ ]:
conn.commit()

### Populate users table

In [10]:
users_dict = {
    "cristiano": {
        "instagram": "cristiano",
        "twitter": "Cristiano"
    },
    "messi": {
        "instagram": "leomessi",
        "twitter": "Ieomessiok"
    },
    "lebron": {
        "instagram": "lebron",
        "twitter": "KingJames"
    },
    "nadal": {
        "instagram": "rafaelnadal",
        "twitter": "RafaelNadal"
    },
    "mayweather": {
        "instagram": "floydmayweather",
        "twitter": "FloydMayweather"
    }
}

In [11]:
for username in users_dict.keys():
    ig_username = users_dict[username]["instagram"]
    tw_username = users_dict[username]["twitter"]
    str_to_ex = f"INSERT INTO users (name, instagram_username, twitter_username, last_update) VALUES ('{username}', '{ig_username}', '{tw_username}', now());"
    cur.execute(str_to_ex)
str_to_ex = f"INSERT INTO users (name, instagram_username, last_update) VALUES ('FalcaoGarcia', 'falcao', now());"
cur.execute(str_to_ex)
conn.commit()

In [16]:
cur.execute("show tables;")
for res in cur:
    print(res)

('countries',)
('instagram_stats',)
('roles',)
('spis',)
('twitter_stats',)
('users',)

In [29]:
cur.execute("ALTER TABLE twitter_stats MODIFY user_id VARCHAR(50);")

In [30]:
conn.commit()

### Fetch records

In [4]:
cur.execute("SELECT * FROM spis;")

for record_id , user_id, spi, spi_instagram, spi_twitter, created_at in cur: 
    print(record_id , user_id, spi, spi_instagram, spi_twitter, created_at)

1 1 84.5833 83.3333 87.5 2022-11-29 21:00:01
2 2 67.6667 61.6667 81.6667 2022-11-29 21:00:01
3 3 56.0 50.0 70.0 2022-11-29 21:00:01
4 4 63.5 70.0 48.3333 2022-11-29 21:00:01
5 5 42.5 45.0 36.6667 2022-11-29 21:00:01
6 6 35.75 40.0 25.8333 2022-11-29 21:00:01
7 1 74.3823 67.8594 89.6022 2022-11-30 14:18:08
8 2 75.4908 75.2787 75.9858 2022-11-30 14:18:08
9 3 62.0295 56.944 73.8956 2022-11-30 14:18:08
10 4 59.4496 69.6423 35.6666 2022-11-30 14:18:08
11 5 38.3181 37.5973 40.0 2022-11-30 14:18:08
12 6 38.324 42.2486 29.1667 2022-11-30 14:18:08

In [3]:
cur.execute("SELECT * FROM twitter_stats;")

for record_id, user_id, twitter_username, n_followers, n_retweets , n_tweets , n_retweets_to_user , n_favorites_to_user, n_replies_to_user, sentiment, engagement, spi, created_at in cur:
    print(user_id, twitter_username, n_followers, n_retweets , n_tweets , n_retweets_to_user , n_favorites_to_user, n_replies_to_user, sentiment, engagement, spi, created_at)

1 Cristiano 105473213 0 5 178658 2280012 10 0.566789 2.33109 87.5 2022-11-29 21:00:00
2 Ieomessiok 596106 0 3 25145 337586 10 0.603595 60.8518 81.6667 2022-11-29 21:00:00
3 KingJames 52487565 0 5 5562 99813 6 0.354371 0.200773 70.0 2022-11-29 21:00:01
4 RafaelNadal 15822193 0 1 185 1687 0 0.2 0.0118315 48.3333 2022-11-29 21:00:01
5 FloydMayweather 7831890 0 0 0 0 0 0.2 0.0 36.6667 2022-11-29 21:00:01
6  0 0 0 0 0 0 0.0 0.0 25.8333 2022-11-29 21:00:01
1 Cristiano 105491332 0 5 179204 2292960 4 0.627359 2.34348 89.6022 2022-11-30 14:18:07
2 Ieomessiok 597907 0 2 18939 263415 10 0.605861 47.2254 75.9858 2022-11-30 14:18:07
3 KingJames 52489349 0 5 5437 85539 9 0.506518 0.17334 73.8956 2022-11-30 14:18:07
4 RafaelNadal 15821354 0 0 0 0 0 0.2 0.0 35.6666 2022-11-30 14:18:07
5 FloydMayweather 7831858 0 0 0 0 0 0.2 0.0 40.0 2022-11-30 14:18:08
6  0 0 0 0 0 0 0.0 0.0 29.1667 2022-11-30 14:18:08

In [5]:
cur.execute("SELECT * FROM instagram_stats;")

for record_id, user_id, instagram_username, n_followers, n_posts_total , n_likes_retrieved , n_comments_retrieved , sentiment, engagement, spi, created_at in cur:
    print(user_id, instagram_username, n_followers, n_posts_total , n_likes_retrieved , n_comments_retrieved , sentiment, engagement, spi, created_at)

1 cristiano 505935967 3406 120727743 164 0.633487 23.8623 83.3333 2022-11-29 20:59:59
2 leomessi 381476211 951 103052362 379 0.589194 27.0142 61.6667 2022-11-29 20:59:59
3 lebron 664112 2962 118923 320 0.628718 17.9553 50.0 2022-11-29 20:59:59
4 rafaelnadal 17111156 1249 2103656 354 0.72155 12.2961 70.0 2022-11-29 21:00:00
5 floydmayweather 28513065 1043 1868782 372 0.590469 6.55543 45.0 2022-11-29 21:00:00
6 falcao 15979213 1326 978682 336 0.606334 6.12682 40.0 2022-11-29 21:00:00
1 cristiano 506131144 3406 121880474 138 0.604086 24.0808 67.8594 2022-11-30 14:18:05
2 leomessi 381722478 951 103304519 364 0.621404 27.0628 75.2787 2022-11-30 14:18:05
3 lebron 664382 2962 124540 337 0.627219 18.796 56.944 2022-11-30 14:18:06
4 rafaelnadal 17116424 1250 1972534 359 0.70962 11.5263 69.6423 2022-11-30 14:18:06
5 floydmayweather 28514730 1044 1641702 382 0.567736 5.75872 37.5973 2022-11-30 14:18:06
6 falcao 15981688 1326 1088918 336 0.613961 6.81564 42.2486 2022-11-30 14:18:06